.product-item {
  padding: 10px;
  background: white;
  border-radius: 10px;
  text-align: center;
}
.product-item img {
  width: 100%;
  border-radius: 10px;
}
.product-item p {
  margin-top: 5px;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
}